* {
    padding: 0;
    margin: 0;
}

/* Estilos BASICOS */
body {
    background-color: #c9c9c9;
}

h1 {
    display: flex;
    font-family: "Designer";
    src: url(./fonts/DESIGNER.otf);
    flex: 1;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #453052;
    text-decoration: underline;
}

header {
    background-color: #c19cd6;
}

header span {
    align-items: center;
    display: flex;
}

header span img {
    display: flex;
    border-radius: 50%;
    background-color: #ffffff;
    height: 190px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header span h1 {
    font-size: 12rem;
    color: #453052;
    margin-left: -220px;
}

header nav ul {
    background-color: #453052;
    list-style-type: none;
    display: flex; 
    justify-content: space-around; 
    padding: 0; 
    margin-bottom: 1px;
    list-style: none;
    margin-top: 0px;
}

header nav li {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    display: inline-block;
}

header nav ul li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.colorlinea {
    color: #453052;
    margin: 0px;
}

.imagenes3 {
    margin: 15px;
    display: flex;
    justify-content: space-around; 
}

.imgdesc {
    text-align: center; 
    flex: 0 1 30%; 
    margin-bottom: 20px; 
}

.imgdesc img {
    width: 100%; 
    height: auto;
}

.imgdesc p {
    margin-top: 10px; 
    font-size: 16px; 
    color: #000000; 
}

.quienessomos {
    margin: 5px;
    padding: 5px;
    text-align: start;
    font-size: 40px;
    color: #453052;
    text-decoration: underline;
}

.quienessomostext {
    text-align: center;
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color:#ffffff93;
}

footer {
    background-color: #453052;
}

.appusadas p {
    margin-top: 25px;
}

.appusadas {
    padding: 15px;
    color: #ffffff;
    margin: 10px;
}

.appusadasimg {
    display: flex;
    text-align: start;
    margin-bottom: 15px;
    align-items: center;
}

.appusadasimg img {
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
    width: 2%; 
    height: auto;
}

.appusadas a {
    font-size: 20px;
    display: flex;
    padding: 15px;
    color: #ffffff;
    align-items: center;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.formcompleto {
    font-size: 40px;
    flex: 1;
    padding: 20px;
}

.textareacontacto {
    width: 300px; 
    height: 150px; 
    padding: 10px;
    font-size: 14px;
}

.imgwsp {
    max-width: 300px;
    height: auto;
}

.imgredes a {
    text-decoration: none;
}

.imgredes img {
    width: 50px;
    border-radius: 50%;
    margin: 0 0.5%;
}

.textareatodo {
    width: 200px;
    height: 15px;
    padding: 10px;
    font-size: 14px;
}

.botongrande {
    width: 150px;
    height: 40px;
}

.servicios {
    display: flex;
    flex-direction: column;
}

.servicios1 {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.imgservicios {
    width: 350px;
    height: auto;
    margin-bottom: 30px;
    margin-left: 20px;
}

.descservicios {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

.mapa {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 15px;
}

.lugar {
    display: flex;
    flex-direction: column;
}

.lugarimgtext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imglugar {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.textlugar {
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.reseñas {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.imgreseñas {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px; 
}

.imgreseñas img {
    border-radius: 50%;
    width: 600px; 
    height: auto; 
    margin: 0 30px;
}

.textreseña {
    margin-left: 50px;
}

.textreseña2 {
    margin-left: 50px;
    width: 300px; 
    height: 150px; 
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

/*Margen de pagina*/
.pagination {
    margin-left: 30px;
}

/* Media Queries */

/* Media Queries para pantallas de teléfonos */
@media (max-width: 767px) {
    header span {
        flex-direction: column;
        align-items: center;
    }
    
    header span h1 {
        font-size: 8rem;
        margin-left: 0;
    }
    
    header span img {
        height: 150px;
        margin-left: 0;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .imagenes3 {
        flex-direction: column;
        align-items: center;
    }

    .imgdesc {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .imgdesc img {
        width: 100%;
    }

    .quienessomos {
        font-size: 30px;
    }

    .quienessomostext {
        font-size: 16px;
    }

    footer {
        text-align: center;
    }

    .appusadasimg {
        flex-direction: column;
        align-items: center;
    }

    .appusadasimg img {
        width: 50%; 
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .pagination {
        margin-left: 0;
        text-align: center;
    }
}

/* Media Queries para tablets (ancho de entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    header span {
        flex-direction: row;
        align-items: center;
    }
    
    header span h1 {
        font-size: 10rem;
        margin-left: -100px;
    }

    header span img {
        height: 180px;
        margin-left: 20px;
    }

    header nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav ul li {
        margin: 10px 20px;
    }

    .imagenes3 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imgdesc {
        flex: 1 1 45%;
        margin-bottom: 20px;
    }

    .imgdesc img {
        width: 100%;
    }

    .quienessomos {
        font-size: 35px;
    }

    .quienessomostext {
        font-size: 18px;
    }

    .appusadasimg {
        flex-direction: row;
        justify-content: space-around;
    }

    .appusadasimg img {
        width: 10%;
        margin-right: 20px;
    }
}